<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-05-04T17:07:34Z</date>
	<key>WorkspacePath</key>
	<string>/Users/israelmanzo/Documents/GitHub/SwiftUI-Repo/Auth/Login with JWT/Login with JWT.xcodeproj</string>
</dict>
</plist>
